<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Evil EVE website</title>
  </head>
  <body>
    <h1>This is an evil demo page</h1>
    <p>
        Here is a cat video for you to wait while we extract your data...
    </p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/YHdOh90kGHQ?rel=0&amp;start=50" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe src="iframe" style="display: none"></iframe>

  </body>
</html>
